<section class="row d-flex justify-content-around">

  <div class="card">
    <div class="card-header text-center">
      <h3 class="card-title text-capitalize">Information</h3>
    </div>
    <div class="card-body text-center">
      <p class="card-text">
        Cette application est destiné à être utilisé dans les locaux du Parchemin<br />
        afin de mettre en ligne des annonces directement à partir de ce mobile.<br />
        <span *ngIf="authService.isTokenExist()else elseBlock">
            Vous êtes connecté en tant que : <span class="text-capitalize">{{ authService.getUsername() }}</span>
        </span>
        <ng-template #elseBlock>
            Vous n'êtes actuellement pas connecté<br />
            <a class="btn btn-primary" routerLink="/login">Connexion</a>
        </ng-template>
      </p>
    </div>
  </div>
</section>