<select name="category" id="category">
    <option *ngFor="let category of categories" id="{{ category['id'] }}" class="text-capitalize">
        {{ category["name"] }}
    </option>
</select>
<select name="city" id="city">
    <option *ngFor="let city of cities" id="{{ city['id'] }}" class="text-capitalize">
        {{ city["name"] }}
    </option>
</select>
<div class="form-group">
    <div *ngFor="let tag of tags" class="form-check form-check-inline">
        <input type="checkbox" id="tag{{ tag['id'] }}" name="tag{{ tag['id'] }}" class="form-check-input" value="{{ tag['id'] }}">
        <label class="text-capitalize form-check-label" for="tag{{ tag['id'] }}">{{ tag["name"] }}</label>
    </div>
</div>
