<div *ngIf="products">
  <table class="table-list table">
    <thead class="thead-dark">
      <th>Image</th>
      <th class="sort" data-sort="ref" style="cursor: pointer;">Réf</th>
      <th class="sort" data-sort="title" style="cursor: pointer;">Titre</th>
      <th class="sort" data-sort="createdAt" style="cursor: pointer;">Créer le</th>
    </thead>
    <tbody *ngFor="let product of products">
      <tr [routerLink]="['/product-edit']" [queryParams]="{product: product.uuid}">
        <td *ngIf="product.image; else noImageBlock">
          <img style="max-height : 5em; max-width : 5em" src="{{ urlImage + product.image }}" alt="Aperçu du produit">
        </td>
        <ng-template #noImageBlock>
          <td>
            <img style="max-height : 5em; max-width : 5em" src="/assets/aucun_apercu.png" alt="Aucun aperçu">
          </td>
        </ng-template>
        <td class="align-middle">
          {{ product.ref }}
        </td>
        <td class="align-middle">
          {{ product.title }}
        </td>
        <td class="align-middle">
          {{ product.createdAt | date:'dd/MM/yyyy' }}
        </td>
      </tr>
    </tbody>
  </table>
</div>