<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light nav-bg-color">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <a class="navbar-brand" routerLink="/homepage">
            <img src="assets/Logo-Le-Parchemin.png" style="width : auto; max-height : 30px" alt="Logo du parchemin">
        </a>
        <span *ngIf="authService.isTokenExist()else elseBlock">
            <ul class="navbar-nav mr-auto text-capitalize">
                <li class='nav-item'>
                    <a class="nav-link nav-color" routerLink="/product-new">Nouvelle annonce</a>
                </li>
                <li class='nav-item'>
                    <a class="nav-link nav-color" routerLink="/product-list">Mes annonces</a>
                </li>
                <li class='nav-item'>
                    <a class="nav-link nav-color" routerLink="/login">Déconnexion</a>
                </li>
            </ul>
        </span>
        <ng-template #elseBlock>
            <ul class="navbar-nav mr-auto text-capitalize">
                <li class='nav-item'>
                    <a class="nav-link nav-color" routerLink="/login">Connexion</a>
                </li>
            </ul>
        </ng-template>
    </div>
</nav>
<router-outlet></router-outlet>
